<h1>Findings</h1>

<h2>Defects</h2>
<table border="1">
  <tr>
    <th>URI</th>
    <th>Description</th>
    <th>Location</th>
    <th>Evidence</th>
  </tr>
  <% @defects.each do |defect| %>
    <tr>
      <td><%= format(defect.uri) %></td>
      <td><%= defect.description %></td>
      <td><%= defect.location %></td>
      <td><%= defect.evidence %></td>
    </tr>
  <%end%>
</table>
<%= will_paginate @defects, :param_name => 'defect' %>

<h2>Links</h2>
<table border="1">
  <tr>
    <th>To</th>
    <th>From</th>
    <th>Processed</th>
  </tr>
  <%  @links.each do |link| %>
    <tr>
      <td><%= format(link.toUri) %></td>
      <td><%= format(link.uri) %></td>
      <td><%= link.processed %></td>
    </tr>
  <%end%>
</table>
<%= will_paginate @links, :param_name => 'link' %>
