<h1>Crawlcheck</h1>
<h2>Recorded transactions</h2>

<table border="1">
  <tr>
    <th>Method</th>
    <th>URI</th>
    <th>Status</th>
    <th>Content type</th>
  </tr>

  <% @transactions.each do |record| %>
    <tr>
      <td><%= record.method %></td>
      <td><%= record.uri %></td>
      <td><a href="/finding/<%= record.id %>"><%= @status.find(record.verificationStatusId).status %></a></td>
      <td><a href="transaction/<%= record.id %>"><%= record.contentType %></a></td>
    </tr>
  <% end %>
</table>
