<h1>Transactions</h1>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="/transaction">Transactions</a></li>
  <li><a href="/finding">Findings</a></li>
</ul>

<table border="1" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>URI</th>
      <th class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Status
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="dtype">
          <% if @filtered1 %>
            <li><a href="/transaction"">No filter</a></li>
          <%end%>
          <% getStatuses.each do |status| %>
            <li><a href="<%=addToUri("s", status.id)%>"><%= status.status %></a></li>
          <%end%>
        </ul>
      </th>
      <th class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Content type
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="dtype">
          <% if @filtered2 %>
            <li><a href="/transaction"">No filter</a></li>
          <%end%>
          <% getTypes.each do |type| %>
            <li><a href="<%=addToUri("t", escape(type.contentType))%>"><%= type.contentType %></a></li>
          <%end%>
        </ul>
      </th>
    </tr>
  </thead>

  <% if @transactions.count > 0 %>
  <tbody>
    <% @transactions.each do |record| %>
      <% transactionStatus = @status.find(record.verificationStatusId) %>
      <tr>
        <td><%= format(record.uri) %></td>
        <td><% if transactionStatus.id >= 3 %><a href="/finding/<%= record.id %>"><%= transactionStatus.status %></a> <% else %> <%= transactionStatus.status %> <% end %></td>
        <td><%= record.contentType %></td>
      </tr>
    <% end %>
  </tbody>
  <%end%>
</table>
<%= will_paginate @transactions, :param_name => 'page', renderer: BootstrapPagination::Rails %>
