<h1>Transactions</h1>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="transaction">Transactions</a></li>
  <li><a href="finding">Findings</a></li>
</ul>

<table border="1" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Method</th>
      <th>URI</th>
      <th>Status</th>
      <th>Content type</th>
      <th>Origin</th>
    </tr>
  </thead>

  <% if @transactions.count > 0 %>
  <tbody>
    <% @transactions.each do |record| %>
      <% transactionStatus = @status.find(record.verificationStatusId) %>
      <tr>
        <td><%= record.method %></td>
        <td><%= format(record.uri) %></td>
        <td><% if transactionStatus.id == 5 %><a href="/finding/<%= record.id %>"><%= transactionStatus.status %></a> <% else %> <%= transactionStatus.status %> <% end %></td>
        <td><%= record.contentType %></td>
        <td><%= record.origin %></td>
      </tr>
    <% end %>
  </tbody>
  <%end%>
</table>
<%= will_paginate @transactions, :param_name => 'page', renderer: BootstrapPagination::Rails %>
